.signupPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    height: 100%;
}
  
  .signupNavbar {
    align-self: flex-end;
    padding: 10px;
  }
  
  .signupText {
    white-space: nowrap;
    background-color: teal;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signupText:hover {
    background-color: #1B9C86;
  }

  .sign-up-btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(207, 42, 39);
    border: rgb(207, 42, 39) solid 1px;
    box-shadow: 3px 4px 4px black;
    color: white;
    font-weight: 500;
    margin: .5rem 0 1rem 0;
  }

  .sign-up-btn[disabled] {
    background-color: grey;
    cursor: not-allowed;
    border: grey solid 1px;
    color: #ccc; 
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 10px; 
}

.error-container {
    color: red; 
}
  
.custom-error-message {
    color: red; 
}