.signupPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%; 
    height: 100%;
}
  
  .signupNavbar {
    align-self: flex-end;
    padding: 10px;
  }
  
  .signupText {
    white-space: nowrap;
    background-color: teal;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signupText:hover {
    background-color: #1B9C86;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    box-sizing: border-box; 
    margin-bottom: 10px; 
  }