.image-container {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
  border-top: 1px solid black;
}

.top-section {
  display: flex;
}

.left-section {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.right-section img {
  position: absolute;
  top: 75px;
  left: 5px;
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.text-box {
  text-align: left;
  font-size: 28px;
}

.how-meetup-works {
  text-align: center;
  margin-top: 3rem;
  position: absolute;
  bottom: 15%;
  left: 45.0%;
}

.tile-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(22% - 6px);
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.tile img {
  width: 200px;  
  height: 200px; 
  object-fit: cover;
  margin-bottom: 10px;
}

.tile a, .tile span {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-shadow: 55px black; 
}

.tile a {
  transition: color 0.3s ease;
}

.tile a:hover {
  color: #24657d; 
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .top-section {
    flex-direction: column;
  }

  .left-section, .right-section {
    width: 100%;
    height: auto;
  }
}

.tile .disabled-message {
  color: rgb(132, 132, 132);
  cursor: default;     
  pointer-events: none;
}

/* Uncomment if you have a font to load
@font-face {
  font-family: 'Graphik Meetup';
  src: url('path-to-your-font/GraphikMeetup.woff2') format('woff2'),
       url('path-to-your-font/GraphikMeetup.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 
*/
