 .main-event-detail-container {
  max-width: 1200px; 
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9; 
}

.event-detail-header {
  margin-bottom: 20px;
  color: red;
  cursor: pointer;
}

.event-name {
  font-size: 24px; 
  font-weight: bold;
  margin-bottom: 10px;
}

.event-host {
  font-size: 18px; 
  margin-bottom: 30px;
}

.events-grey-container {
  display: flex;
  background-color: #fff; 
  padding: 20px;
  border-radius: 5px; 
}

.event-detail-main {
  display: flex;
  flex-direction: row;
}

.event-detail-left {
  flex: 2; 
  position: relative;
  margin-right: 20px;
}

.img-div-bottom {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.img-div-bottom img {
  width: 100%;
  display: block;
}

.event-detail-right-side-bottom {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.group-crumb-container {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #e0e0e0; 
  border-radius: 5px;
  margin-bottom: 20px; 
  cursor: pointer; /* Clickable? I think */
}

.event-detail-group-crumb img {
  width: 100%;
  display: block;
  margin-bottom: 10px; 
}

.group-name {
  font-size: 18px; 
  word-wrap: break-word; 
}

/* Event-specific details */
.event-detail-info {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.event-date, .event-price, .event-type {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.type-icon, .date-icon, .price-icon {
  margin-right: 10px; 
  width: 24px; 
  height: 24px; 
}

.event-detail-about {
  margin-top: 20px;
}

.delete-button {
  background-color: #333;
  border: #333 solid 1px;
  box-shadow: 3px 4px 4px black;
  color: white;
  padding: 5px 8px 5px 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-left: 150px;
}


.update-button {
  background-color: #333;
  border: #333 solid 1px;
  box-shadow: 3px 4px 4px black;
  color: white;
  padding: 5px 8px 5px 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-left: 150px;
}

.event-date {
  display: inline-block;
  flex-direction: column; 
  align-items: flex-start; 
  margin-bottom: 20px;
}



.endDiv{
  margin-top: -20px;
  margin-left: 30px;
}

.flexTest{
  display: flex;
  align-items: center;
}

.date-icon {
  margin-right: 10px; 
  width: 24px; 
  height: 24px;
}

.date-content {
  display: flex;
  align-items: center;
}

.date-label { 
  font-weight: bold; 
  margin-right: 5px; 
}

.delete-button, .update-button {
  margin: 0 5px; 
}