.group-detail-container {
    display: flex;
    flex-direction: column;
  }
  
  .group-main-details {
    position: relative;
    margin-top: 70px;
    margin-left: 200px;
  }
  
  .group-breadcrumb {
    display: inline-flex;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .group-breadcrumb div {
    display: inline-flex;
    margin-left: 5px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .group-info {
    display: flex;
    flex-direction: row;
  }
  
  .group-main-text {
    margin-left: 25px;
    margin-top: -20px;
  }
    
  .group-sub-details {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 70px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f0f0f0;
    min-height: 150px;
    overflow: auto;
    word-wrap: break-word;
    padding: 10px;
    padding-left: 210px; 
  }
  
  .group-sub-details::before {
    content: "";
    position: absolute;
    top: 0;
    left: -200px;
    right: 0;
    bottom: 0;
    background-color: #f0f0f0;
    z-index: -1; 
  }
  
  .group-sub-details p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
.events {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0px;
  margin-left: 200px;
  background-color: #f0f0f0;
}

.events::before {
  content: "";
  position: absolute;
  top: 0;
  left: -200px; 
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  z-index: -1; 
}
  
  .group-info img {
    max-width: 35%;
  }
  
  .event-container {
    cursor: pointer;
  }
  
  .event-container img {
    width: 10%;
  }

  .group-info {
    display: flex;
    gap: 20px;
  }
  
  .group-info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .group-action-buttons {
    display: flex;
    gap: 10px;
  }

  .create, .delete, .update {
    width: 120px;  
    padding: 5px 15px;
  }
  
.group-action-buttons button {
    padding: 5px 20px; 
  }
  
.group-action-buttons {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  gap: 10px; 
}

.group-action-buttons .create, .group-action-buttons .delete, .group-action-buttons .update {
  background-color: grey;  
  border: grey solid 1px;
  box-shadow: 2px 3px 3px black;
  color: white;
  padding: 5px 8px 5px 8px;
  font-size: 1rem;
  font-weight: 500;
  margin: .5rem 0 1rem 0;
  cursor: pointer;
  width: 100%
}

.join-group-info-buttons {
  background-color: rgb(207, 42, 39);
  border: rgb(207, 42, 39) solid 1px;
  box-shadow: 3px 4px 4px black;
  color: white;
  padding: 5px 8px 5px 8px;
  font-size: 1rem;
  font-weight: 500;
  margin: .5rem 0 1rem 0;
  cursor: pointer;
  width: 100%
}
